<!DOCTYPE html>
<html>
  <head>
    <title>Ugly Chat</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ugly Chat</h1>
   <ul id="messages"></ul><hr>
   <div id="textbox"><lable>Message: </lable><textarea id="new-msg"></textarea><br><br>
    <label>Your Name: </label><input id="user-name"><br><br>
   <input type="button" id="btn-send-msg" value="Send Message "></div>
   <footer><ul id="players"></ul></footer>
   <script src="/socket.io/socket.io.js"></script>
   <script src="/javascripts/app.js"></script>
  </body>
</html>
